body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Microsoft YaHei', 'Microsoft YaHei UI', 'Segoe UI';
    counter-reset: h1;
}

footer {
    color: silver;
    font-size: small;
}

/* Making the navbar transparent */
.navbar {
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.8);
}


.row {
    margin-left: 0;
    margin-right: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.no-content {
    font-family: SimHei;
    font-size: xx-large;
    color: lightgray;
}

.archive-title {
    font-family: SimHei;
    font-size: xx-large;
    color: gray;
}

.syntaxhighlighter table .container:before {
    display: none !important;
}

/* article list page */
ul.article-list li {
    list-style-type: none;
    margin-left: -25px;
    padding-bottom: 25px;
}

ul.article-list h4 {
    margin-bottom: 5px;
}

ul.article-list div.summary {
    color: grey;
    font-size: small;
}

ul.article-list div.auth {
    color: lightblue;
    font-size: small;
}

/* Index page */
.jumbotron-index  {
    text-align: center;
    border: none;
    border-radius: 0 !important;
    background-color: rgba(0,69,138,0.9);
    color: whitesmoke;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron-no-border {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

/* article*/

.jumbotron-article  {
    text-align: center;
    border: none;
    border-radius: 0 !important;
    background-color: rgba(0,69,138,0.9);
    color: whitesmoke;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron-article h2 {
    font-size: 36px;
}

.jumbotron-article h5 {
    padding-top: 15px;
}

article {
    padding: 8px;
    border-color: rgb(245,245,245);
    border-width: 1px;
    border-style: solid;
    background-color: rgb(251,251,251);
    border-radius: 8px;
}

article p {
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px !important;
    text-indent: 32px;
    padding-bottom: 3pt;
}

article a {
    color: #4F81BD;
    text-decoration: none;
}

article h1 {
    font-size: 28px !important;
    color: #365F91;
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 6pt;
    counter-reset: h2;
}

article h2 {
    font-size: 24px !important;
    color: #4F81BD;
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 6pt;
    counter-reset: h3;
}

article h3 {
    font-size: 20px !important;
    color: #4F81BD;
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 6pt;
    counter-reset: h4;
}

article h4 {
    font-size: 18px !important;
    color: #4F81BD;
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 6pt;
    font-weight: bold;
    font-style: italic;
    counter-reset: h5;
}

article h1:before {counter-increment: h1; content: counter(h1, cjk-ideographic) "、"}
article h2:before {counter-increment: h2; content: counter(h1) "." counter(h2) ". "}
article h3:before {counter-increment: h3; content: counter(h1) "." counter(h2) "." counter(h3) ". "}
article h4:before {counter-increment: h4; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "}
article h5:before {counter-increment: h5; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
article h6:before {counter-increment: h6; content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}

article h1.nocount:before, article h2.nocount:before, article h3.nocount:before, article h4.nocount:before, article h5.nocount:before, article h6.nocount:before { content: ""; counter-increment: none } 

article .replies .replies-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

article .replies .no-replies {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

article .replies .panel-default .panel-heading {
    font-size: small;
    color: gray;
}

/* Archive List */
#blogPostsArchiveList ul {
    padding-left: 10px;
}

#blogPostsArchiveList li {
    list-style-type: none;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .pagination .pn {
        display: none;
    }
}
