body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Microsoft YaHei', 'Microsoft YaHei UI', 'Segoe UI'
}

footer{
    color: silver;
    font-size:small;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/* article list page */
ul.article-list li {
    list-style-type: none;
    margin-left: -25px;
    padding-bottom: 25px;
}

ul.article-list h4 {
    margin-bottom: 5px;
}

ul.article-list div.summary {
    color: grey;
    font-size: small;
}

ul.article-list div.auth{
    color: lightblue;
    font-size: small;
}

/* article*/
article header {
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   font-size: 26px !important;
   font-weight:bold;
   text-align:center;
   padding-bottom: 12px;
}

article p {
    font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px !important;
    text-indent: 32px;
    padding-bottom: 2pt;
}

article a {
    color:#4F81BD;
    text-decoration: none;
}

article h1 {
	font-size: 24px !important;
	color: #365F91;
	font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding-top: 6pt;
}

article h2 {
	font-size: 20px !important;
	color: #4F81BD;
	font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding-top: 6pt;
}

article h3 {
	font-size: 16px !important;
	color: #4F81BD;
	font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding-top: 6pt;
}

article h4 {
	font-size: 14px !important;
	color: #4F81BD;
	font-family: "Microsoft YaHei", "微软雅黑", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 6pt;
	font-weight: bold;
	font-style: italic;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
  .pagination .pn {
      display: none
  }
}
