@using DaxnetBlog.Common
@using System.Globalization

@model dynamic
@{
    ViewData["Title"] = $"{(string)Model.title} - daxnet.me";
    var datePublished = (DateTime)Model.datePublished;
    var datePublishedStr = datePublished.ToLocalTime().ToString("yyyy年MM月dd日 HH:mm:ss");
    var visits = (int)Model.visits;
}

<div class="jumbotron jumbotron-no-border jumbotron-article">
    <h2>@Model.title</h2>
    <h5>@Model.account.nickName 发布于 @datePublishedStr&nbsp;&nbsp;阅读量：@visits 次</h5>
</div>
<div class="row">
    <div class="col-md-10">
        @if(DateTime.UtcNow .Subtract(datePublished) > TimeSpan.FromDays(365))
        {
            <message message-enabled="true" message-title="友情提醒" message-type="WARNING">
                本文发布于至少一年以前，文中所述的技术内容或已过时，请谨慎参考。
            </message>
        }
        <article>
            <content>
                @Html.Raw(Model.content)
            </content>
            <div class="replies">
                <hr />
                <div class="replies-title">评论列表</div>
                @if (Model.replies.Count > 0) {
                    @await Html.PartialAsync("_RepliesPartial", (object)Model.replies);
                }
                else {
                    <div class="no-replies">当前没有评论！</div>
                }
                @await Html.PartialAsync("_CommentsEditorPartial", new { Feature = "BlogPost", Key = (string)Model.id }.ToExpando())
            </div>
        </article>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_BulletinBoardPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blog-archive-list bal-title="博客归档" bal-style="default"></blog-archive-list>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @await Html.PartialAsync("_DonatePartial")
            </div>
        </div>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" href="~/css/SyntaxHighlighter/shCore.css" type="text/css" />
    <link rel="stylesheet" href="~/css/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
    <script src="~/lib/SyntaxHighlighter/shCore.js"></script>
    <script src="~/lib/SyntaxHighlighter/shLegacy.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushCpp.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushCSharp.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushCss.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushDelphi.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushBash.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushXml.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushSql.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushVb.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushPowerShell.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushPlain.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushJava.js"></script>
    <script src="~/lib/SyntaxHighlighter/shBrushJScript.js"></script>
    <script language="javascript" type="text/javascript">
        SyntaxHighlighter.config.bloggerMode = false;
        SyntaxHighlighter.defaults['ruler'] = true;
        SyntaxHighlighter.all();
        
        $('.close').click(function () {
            hideMessage();
        });
    </script>
}
