@using DaxnetBlog.Web.Security
@using DaxnetBlog.Web.Models

@model dynamic

@{
    ViewData["Title"] = "账户管理";
    var category = (string)Model.category;
    var accountModel = (DaxnetBlog.Web.Security.User)Model.accountModel;
}
<div class="row">
    <h1>@accountModel.UserName</h1>
</div>
<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            @switch (category)
            {
                case "Profile":
                    <li class="active"><a href="#">基本信息</a></li>
                    <li><a href="@Url.Action("Manage","Account", new { category = "ChangePassword" })">修改密码</a></li>
                    break;
                case "ChangePassword":
                    <li><a href="@Url.Action("Manage","Account", new { category = "Profile" })">基本信息</a></li>
                    <li class="active"><a href="#">修改密码</a></li>
                    break;
            }
        </ul>
    </div>
    <div class="col-md-10">
        @switch (category)
        {
            case "Profile":
                var accountProfileViewModel = new AccountProfileViewModel
                {
                    UserName = accountModel.UserName,
                    NickName = accountModel.NickName,
                    EmailAddress = accountModel.EmailAddress,
                    Id = accountModel.Id

                };
                await Html.RenderPartialAsync("_ManageProfilePartial", accountProfileViewModel);
                break;
            case "ChangePassword":
                var changePasswordViewModel = new ChangePasswordViewModel { Id = accountModel.Id };
                await Html.RenderPartialAsync("_ChangePasswordPartial", changePasswordViewModel);
                break;
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }