<static-content sc-title="站点简介" sc-style="info">
    <p>
        站长：陈晴阳。2003年毕业于中南大学铁道校区计算机科学与技术专业，高级程序员，系统分析员，微软全球最有价值专家。
    </p>
    <img src="~/images/MVP_Horizontal_BlueOnly.png" class="img-responsive center-block" />
</static-content>
