<static-content sc-title="站点简介" sc-style="primary">
    <p>
        站长：陈晴阳，网名daxnet。2003年毕业于中南大学铁道校区计算机科学与技术专业，高级程序员，系统分析员，微软全球最有价值专家（MVP），在软件开发技术、开发语言、系统设计与架构方面有着一定的经验。C#、.NET、Visual Studio的忠实粉，
        以及领域驱动设计、大数据分析和云计算架构的狂热爱好者。希望通过本站能够继续在社区中推广和分享相关的技术与经验，并记录自己的程序人生。
    </p>
    <a href="https://mvp.microsoft.com/en-us/PublicProfile/4038146?fullName=Qingyang%20%20Chen" target="_blank"><img src="~/images/MVP_Horizontal_BlueOnly.png" class="img-responsive center-block" /></a>
</static-content>
