@using DaxnetBlog.Web.Models
@model ChangePasswordViewModel

<div class="row">
    <div class="col-md-12">
        <message message-enabled="false">
        </message>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="main" class="form-horizontal">
                <input asp-for="Id" type="hidden" id="txtId" />
                <div class="form-group">
                    <label asp-for="OldPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="OldPassword" class="form-control" id="txtOldPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="NewPassword" class="form-control" id="txtNewPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="ConfirmPassword" class="form-control" id="txtConfirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label for="captcha" class="col-md-3 control-label">验证码</label>
                        <span id="captchaArea">
                            @await Html.PartialAsync("_CaptchaPartial")
                        </span>
                        <input asp-for="Captcha" class="form-control" id="txtCaptcha" />
                        <button class="btn btn-primary" type="button" id="submit-btn"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;更改</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script type="text/javascript">
    function disableControls() {
        $('#txtOldPassword').attr('disabled', 'disabled');
        $('#txtNewPassword').attr('disabled', 'disabled');
        $('#txtConfirmPassword').attr('disabled', 'disabled');
    }

    function enableControls() {
        $('#txtOldPassword').removeAttr('disabled');
        $('#txtNewPassword').removeAttr('disabled');
        $('#txtConfirmPassword').removeAttr('disabled');
    }

    $(document).ready(function () {
        $('#txtOldPassword').focus();
        $('#submit-btn').click(function () {
            var $form = $('#main');
            if (!$form.valid()) {
                var validator = $form.data('validator');
                var msg = validator.errorList[0].message;
                showMessage('danger', '错误', msg);
            } else {
                hideMessage();
                // Call ajax to check if the CAPTCHA code is correct.
                var captchaString = $('#txtCaptcha').val();
                var encryptedString = $('#__captcha_image').val();
                var verify = $.ajax({
                    type: "POST",
                    url: '@Url.Action("VerifyCaptcha", "Captcha")',
                    data: { captchaString: captchaString, encryptedString: encryptedString },
                    beforeSend: function (xhr, settings) {
                        disableControls();
                    }
                })
                .done(function (result, status, xhr) {
                    if (!result) {
                        showMessage('danger', '错误', '输入的验证码不正确。');
                        return false;
                    } else {
                        return true;
                    }
                })
                .fail(function (xhr) {
                    showMessage('danger', '错误', xhr.statusText);
                })
                .always(function (xhr, status) {
                    enableControls();
                    updateCaptcha('@Url.Action("UpdateCaptcha", "Captcha")');
                });

                var final = verify.then(function (response) {
                    if (response) {
                        var data = {
                            Id: $('#txtId').val(),
                            OldPassword: $('#txtOldPassword').val(),
                            NewPassword: $('#txtNewPassword').val()
                        };
                        return $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangePassword", "Account")',
                            beforeSend: function (xhr, settings) {
                                disableControls();
                            },
                            data: data
                        });
                    }
                });

                final.done(function (result, status, xhr) {
                    if (status === 'success') {
                        showMessage('info', '成功', '用户密码更新成功！');
                    }

                }).fail(function (xhr) {
                    showMessage('danger', '错误', xhr.statusText);
                }).always(function (xhr, status) {
                    enableControls();
                });
            }

        });
    });
</script>