<static-content sc-title="捐赠本站" sc-style="default">
    <p>
        如果您觉得本站的内容对您有所帮助，并且愿意对本站进行捐赠的话，请使用微信扫描以下二维码，并在留言中注明您的姓名（或网名）。感谢您的支持！
    </p>
    <img src="~/images/donate.png" class="img-responsive center-block" />
</static-content>
