@using Microsoft.AspNetCore.Identity
@using DaxnetBlog.Web.Security

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Manage" title="Manage"><span class="glyphicon glyphicon-user"></span>&nbsp;@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">退出</button>
            </li>
            <li><a href="@Url.Action("Rss", "BlogPosts")" title="RSS" style="padding-top: 14px;"><img src="~/images/rss.png" /></a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li><a asp-area="" asp-controller="Account" asp-action="PreRegister">注册</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">登录</a></li>
        <li><a href="@Url.Action("Rss", "BlogPosts")" title="RSS" style="padding-top: 14px;"><img src="~/images/rss.png"/></a></li>
    </ul>
}
